.facility_section{
    background: #F3F3F3;
    padding: 50px 0;
}

.rooms{
 position: relative;
 z-index: 6;
}
.rooms img{
    width: 100%;
    height: 100%;
}
.rooms h3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 9;
    color: #FFF;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.facility__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 50px auto;
}
.room_types{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.room__cont{
    position: relative;
}
.room__cont img{
    width: 100%;
    height: 100%;
}
.room__cont h3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 9;
    color: #FFF;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
@media screen and (max-width:900px) {
   .room h3{
        font-size: 20px; 
    }
    .room__cont h3{
        font-size: 20px;
    }
}
@media screen and (max-width:630px) {
    .facility__body{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .rooms img{
        width: 100%;
        height: 100%;
        display: inline-block;
    }
}
@media screen and (max-width:400px) {
    .room_types{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}